.container{
    text-align: center;
}
.col-md-12{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-1{
   
    background-image: url(https://th.bing.com/th/id/OIP.JoGjPwNYIkAQA-6DBeTkgAHaEK?pid=ImgDet&rs=1);}

.row-1{
    padding: 10%;
 
}